###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/build/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###
###> node ###
/node_modules/
###< node ###